<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Page</title>
</head>
<body>
<h1>Recipes</h1>
<table style="border: solid black 1px;">
    <tr style="border: solid black 1px;">
        <th>Description</th>
        <th>Preparation time, min</th>
        <th>Cook time, min</th>
        <th>Servings</th>
        <th>Source</th>
        <th>Url</th>
        <th>Directions</th>
        <th>Difficulty</th>
        <th>Ingredients</th>
    </tr>
    <tr style="border: solid black 1px;" th:each="recipe : ${recipes}">
        <td th:text="${recipe.description}">My recipe</td>
        <td th:text="${recipe.prepTime}">15</td>
        <td th:text="${recipe.cookTime}">30</td>
        <td th:text="${recipe.servings}">My recipe</td>
        <td th:text="${recipe.source}">Super recipe blog</td>
        <td th:text="${recipe.url}">www.superrecipes.com</td>
        <td th:text="${recipe.directions}">First you need...</td>
        <td th:text="${recipe.difficulty}">Easy</td>
        <td>
            <ul>
                <li th:each="ingredient : ${recipe.ingredients}">
                    <p th:text="${ingredient.description}">Sugar</p>
                </li>
            </ul>
        </td>
    </tr>
</table>
</body>
</html>